html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

.body {
  width: 1280px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}

.site {
  width: 1280px;
  height: 1024px;
  background-repeat: no-repeat;
}